!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible" }

    %title= current_page.data.title || "Ada Developers Academy"

    %script{ src: "https://use.typekit.net/iel2sql.js" }
    :javascript
      try{Typekit.load({ async: false });}catch(e){}

    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"

  %body
    %header
    %main
      .toc= partial 'toc' 
      .content
        .breadcrumbs= partial 'breadcrumbs'
        = yield
    %footer
      .breadcrumbs= partial 'breadcrumbs'
