%footer{ role: "contentinfo" }
  = partial 'breadcrumbs'
  .copyright
    = "&copy; #{ Time.now.year }"
    = link_to "Released under the MIT License", "https://github.com/Ada-Developers-Academy/textbook/blob/master/LICENSE.md"
    by
    = link_to "Ada Developers Academy", "//adadevelopersacademy.org"
