%footer{ role: "contentinfo" }
  = partial 'breadcrumbs'
  .copyright
    = "&copy; #{ Time.now.year }"
    = link_to "Released under the MIT License", "//github.com/Ada-Developers-Academy/textbook/"
    by
    = link_to "Ada Developers Academy", "//adadevelopersacademy.org"
