%header.navigation{ role: "banner" }
  .navigation-wrapper
    = link_to "Ada Developers Academy Textbook", "//adadevelopersacademy.org", { class: "logo" }
    %a#js-mobile-menu.navigation-menu-button{ href: "javascript:void(0)" } Links
    %nav{ role: "navigation" }
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link= link_to "Home", "#{site_url}/"
        %li.nav-link= link_to "About", "/about"
        %li.nav-link= link_to "Github", "//github.com/Ada-Developers-Academy/"
        %li.nav-link= link_to "Contact", "/contact"
