%h1.toc-title Table of Contents
%h2= link_to "Home", "/"
- data.toc.each do |unit|
  %h2.toc-unit= unit.title
  %ol.toc-chapters
  - unit.chapters.each do |chapter|
    %li.toc-chapter= link_to chapter, "/#{ dumb_link unit.title }/#{ dumb_link chapter }"
