%h1.toc-title Table of Contents
%h2= link_to "Home", "#{site_url}/"
- data.toc.each do |unit|
  %h2.toc-unit= unit.title
  - unit.chapters.each do |chapter|
    %h3.toc-chapter= chapter.title
    %ol.toc-lectures
    - chapter.lectures.each do |lecture|
      %li.toc-lecture= link_to lecture, "#{site_url}/#{ dumb_link unit.title }/#{ dumb_link chapter.title}/#{ dumb_link lecture}"
